In [2]:
# БЛОК 1: Импорт библиотек
import pandas as pd
import numpy as np

print("Библиотеки импортированы успешно")

Библиотеки импортированы успешно

In [3]:
# БЛОК 2: Создание данных и DataFrame
print("=" * 50)
print("1) СОЗДАНИЕ ДАННЫХ И DATAFRAME")
print("=" * 50)

# Шаг 1.1: Создаем список словарей students
students = [
    {"name": "Иван Иванов", "group": "A", "math": 85, "python": 90, "hours": 15, "passed": True, "city": "Москва"},
    {"name": "Петр Петров", "group": "B", "math": 72, "python": 68, "hours": 12, "passed": True, "city": "Санкт-Петербург"},
    {"name": "Анна Сидорова", "group": "A", "math": 95, "python": None, "hours": 20, "passed": True, "city": "Москва"},  # пропуск
    {"name": "Мария Козлова", "group": "C", "math": 60, "python": 65, "hours": 8, "passed": False, "city": "Казань"},
    {"name": "Алексей Смирнов", "group": "B", "math": None, "python": 88, "hours": 18, "passed": True, "city": "Новосибирск"},  # пропуск
    {"name": "Елена Волкова", "group": "A", "math": 78, "python": 82, "hours": 14, "passed": True, "city": "Москва"},
    {"name": "Дмитрий Попов", "group": "C", "math": 45, "python": 50, "hours": 6, "passed": False, "city": "Екатеринбург"},
    {"name": "Ольга Новикова", "group": "B", "math": 91, "python": 94, "hours": 22, "passed": True, "city": "Санкт-Петербург"},
    {"name": "Сергей Федоров", "group": "A", "math": 67, "python": 72, "hours": 10, "passed": True, "city": "Москва"},
    {"name": "Наталья Морозова", "group": "C", "math": 83, "python": 79, "hours": 16, "passed": True, "city": "Казань"},
    {"name": "Андрей Павлов", "group": "B", "math": 54, "python": 61, "hours": 7, "passed": False, "city": "Новосибирск"},
    {"name": "Татьяна Лебедева", "group": "A", "math": 89, "python": 85, "hours": 19, "passed": True, "city": "Москва"}
]

# Шаг 1.2: Создаем DataFrame
df = pd.DataFrame(students)

print("DataFrame создан успешно")
print(f"Размер DataFrame: {df.shape}")

==================================================
1) СОЗДАНИЕ ДАННЫХ И DATAFRAME
==================================================
DataFrame создан успешно
Размер DataFrame: (12, 7)

In [4]:
# БЛОК 3: Вывод информации о DataFrame
# Шаг 1.3: Выводим информацию

print("\nПервые 5 строк (head):")
print(df.head())

print("\nИнформация о DataFrame (info):")
print(df.info())

print("\nБазовая статистика (describe):")
print(df.describe())

print("\nКоличество пропусков по столбцам:")
print(df.isna().sum())

Первые 5 строк (head):
              name group  math  python  hours  passed             city
0      Иван Иванов     A  85.0    90.0     15    True           Москва
1      Петр Петров     B  72.0    68.0     12    True  Санкт-Петербург
2    Анна Сидорова     A  95.0     NaN     20    True           Москва
3    Мария Козлова     C  60.0    65.0      8   False           Казань
4  Алексей Смирнов     B   NaN    88.0     18    True      Новосибирск

Информация о DataFrame (info):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    12 non-null     object
 1   group   12 non-null     object
 2   math    11 non-null     float64
 3   python  11 non-null     float64
 4   hours   12 non-null     int64
 5   passed  12 non-null     bool
 6   city    12 non-null     object
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 720.0+ bytes
None

Базовая статистика (describe):
            math     python      hours
count  11.000000  11.000000  12.000000
mean   74.454545  75.818182  13.916667
std    16.311736  13.753677   5.350588
min    45.000000  50.000000   6.000000
25%    63.500000  66.500000   9.500000
50%    78.000000  79.000000  14.500000
75%    87.000000  86.500000  18.250000
max    95.000000  94.000000  22.000000

Количество пропусков по столбцам:
name      0
group     0
math      1
python    1
hours     0
passed    0
city      0
dtype: int64

In [5]:
# БЛОК 4: Доступ к данным - столбцы и строки
print("\n" + "=" * 50)
print("2) ДОСТУП К ДАННЫМ: СТОЛБЦЫ И СТРОКИ")
print("=" * 50)

# Шаг 2.1: Выводим определенные столбцы
print("\nСтолбцы name, group, python:")
print(df[['name', 'group', 'python']])

==================================================
2) ДОСТУП К ДАННЫМ: СТОЛБЦЫ И СТРОКИ
==================================================

Столбцы name, group, python:
                name group  python
0        Иван Иванов     A    90.0
1        Петр Петров     B    68.0
2      Анна Сидорова     A     NaN
3      Мария Козлова     C    65.0
4    Алексей Смирнов     B    88.0
5      Елена Волкова     A    82.0
6      Дмитрий Попов     C    50.0
7     Ольга Новикова     B    94.0
8     Сергей Федоров     A    72.0
9   Наталья Морозова     C    79.0
10     Андрей Павлов     B    61.0
11  Татьяна Лебедева     A    85.0

In [6]:
# БЛОК 5: Доступ по индексам
# Шаг 2.2: Доступ по индексам
print("\nСтрока с индексом 0 (через iloc):")
print(df.iloc[0])

print("\nСтроки со 2 по 5 включительно (через iloc):")
print(df.iloc[2:6])  # 2, 3, 4, 5

Строка с индексом 0 (через iloc):
name      Иван Иванов
group               A
math             85.0
python           90.0
hours              15
passed           True
city           Москва
Name: 0, dtype: object

Строки со 2 по 5 включительно (через iloc):
              name group  math  python  hours  passed         city
2    Анна Сидорова     A  95.0     NaN     20    True       Москва
3    Мария Козлова     C  60.0    65.0      8   False       Казань
4  Алексей Смирнов     B   NaN    88.0     18    True  Новосибирск
5    Елена Волкова     A  78.0    82.0     14    True       Москва

In [7]:
# БЛОК 6: Установка индекса
# Шаг 2.3: Делаем name индексом
df2 = df.set_index('name')
print("\nDataFrame с name в качестве индекса (первые 3 строки):")
print(df2.head(3))

# Проверяем доступ по имени
print("\nДанные студента 'Анна Сидорова' (через loc):")
print(df2.loc['Анна Сидорова'])

DataFrame с name в качестве индекса (первые 3 строки):
              group  math  python  hours  passed             city
name
Иван Иванов       A  85.0    90.0     15    True           Москва
Петр Петров       B  72.0    68.0     12    True  Санкт-Петербург
Анна Сидорова     A  95.0     NaN     20    True           Москва

Данные студента 'Анна Сидорова' (через loc):
group          A
math        95.0
python       NaN
hours         20
passed      True
city      Москва
Name: Анна Сидорова, dtype: object

In [8]:
# БЛОК 7: Фильтрация - студенты с python >= 80
print("\n" + "=" * 50)
print("3) ФИЛЬТРАЦИЯ")
print("=" * 50)

# Шаг 3.1: Студенты с python >= 80
top_python = df[df['python'] >= 80]
print(f"\nСтуденты с python >= 80 ({len(top_python)} чел.):")
print(top_python[['name', 'group', 'python']])

==================================================
3) ФИЛЬТРАЦИЯ
==================================================

Студенты с python >= 80 (5 чел.):
                name group  python
0        Иван Иванов     A    90.0
4    Алексей Смирнов     B    88.0
5      Елена Волкова     A    82.0
7     Ольга Новикова     B    94.0
11  Татьяна Лебедева     A    85.0

In [9]:
# БЛОК 8: Фильтрация - группа A с math >= 70
# Шаг 3.2: Студенты группы A с math >= 70
a_good_math = df[(df['group'] == 'A') & (df['math'] >= 70)]
print(f"\nСтуденты группы A с math >= 70 ({len(a_good_math)} чел.):")
print(a_good_math[['name', 'group', 'math']])

Студенты группы A с math >= 70 (4 чел.):
                name group  math
0        Иван Иванов     A  85.0
2      Анна Сидорова     A  95.0
5      Елена Волкова     A  78.0
11  Татьяна Лебедева     A  89.0

In [10]:
# БЛОК 9: Фильтрация - строки с пропусками
# Шаг 3.3: Строки с пропусками в оценках
with_missing = df[df[['math', 'python']].isna().any(axis=1)]
print(f"\nСтуденты с пропусками в оценках ({len(with_missing)} чел.):")
print(with_missing[['name', 'math', 'python']])

Студенты с пропусками в оценках (2 чел.):
              name  math  python
2    Анна Сидорова  95.0     NaN
4  Алексей Смирнов   NaN    88.0

In [11]:
# БЛОК 10: Создание нового столбца avg_score
print("\n" + "=" * 50)
print("4) НОВЫЕ СТОЛБЦЫ")
print("=" * 50)

# Шаг 4.1: Создаем столбец avg_score
df['avg_score'] = df[['math', 'python']].mean(axis=1, skipna=True)
print("\nСтолбец avg_score добавлен (первые 5 строк):")
print(df[['name', 'math', 'python', 'avg_score']].head())

==================================================
4) НОВЫЕ СТОЛБЦЫ
==================================================

Столбец avg_score добавлен (первые 5 строк):
              name  math  python  avg_score
0      Иван Иванов  85.0    90.0       87.5
1      Петр Петров  72.0    68.0       70.0
2    Анна Сидорова  95.0     NaN       95.0
3    Мария Козлова  60.0    65.0       62.5
4  Алексей Смирнов   NaN    88.0       88.0

In [12]:
# БЛОК 11: Создание столбца level
# Шаг 4.2: Создаем столбец level с помощью np.select
conditions = [
    df['avg_score'] >= 85,
    (df['avg_score'] >= 70) & (df['avg_score'] < 85),
    df['avg_score'] < 70
]

choices = ['high', 'mid', 'low']
df['level'] = np.select(conditions, choices, default='unknown')

print("\nСтолбец level добавлен (первые 5 строк):")
print(df[['name', 'avg_score', 'level']].head())

print("\nРаспределение по уровням (value_counts):")
print(df['level'].value_counts())

Столбец level добавлен (первые 5 строк):
              name  avg_score level
0      Иван Иванов       87.5  high
1      Петр Петров       70.0   mid
2    Анна Сидорова       95.0  high
3    Мария Козлова       62.5   low
4  Алексей Смирнов       88.0  high

Распределение по уровням (value_counts):
level
high    5
low     4
mid     3
Name: count, dtype: int64

In [13]:
# БЛОК 12: Группировка и агрегирование
print("\n" + "=" * 50)
print("5) ГРУППИРОВКА И АГРЕГИРОВАНИЕ")
print("=" * 50)

# Шаг 5.1: Статистика по группам
group_stats = df.groupby('group').agg(
    avg_score_mean=('avg_score', 'mean'),
    hours_mean=('hours', 'mean'),
    count=('name', 'count')
).round(2)

print("\nСтатистика по группам:")
print(group_stats)

==================================================
5) ГРУППИРОВКА И АГРЕГИРОВАНИЕ
==================================================

Статистика по группам:
       avg_score_mean  hours_mean  count
group
A               83.80       15.60      5
B               77.00       14.75      4
C               63.67       10.00      3

In [14]:
# БЛОК 13: Процент сдавших по группам
# Шаг 5.2: Процент сдавших в каждой группе
passed_stats = df.groupby('group')['passed'].mean() * 100
print("\nПроцент сдавших (passed=True) по группам:")
print(passed_stats.round(2))

Процент сдавших (passed=True) по группам:
group
A    100.00
B     75.00
C     33.33
Name: passed, dtype: float64

In [15]:
# БЛОК 14: Сортировка
print("\n" + "=" * 50)
print("6) СОРТИРОВКА И ИТОГОВАЯ ТАБЛИЦА")
print("=" * 50)

# Шаг 6.1: Сортировка по avg_score по убыванию
rating = df.sort_values('avg_score', ascending=False)
print("\nРейтинг студентов по avg_score (первые 5 строк):")
print(rating[['name', 'group', 'avg_score', 'level']].head())

==================================================
6) СОРТИРОВКА И ИТОГОВАЯ ТАБЛИЦА
==================================================

Рейтинг студентов по avg_score (первые 5 строк):
                name group  avg_score level
2      Анна Сидорова     A       95.0  high
7     Ольга Новикова     B       92.5  high
4    Алексей Смирнов     B       88.0  high
0        Иван Иванов     A       87.5  high
11  Татьяна Лебедева     A       87.0  high

In [16]:
# БЛОК 15: Итоговая таблица
# Шаг 6.2: Формируем итоговую таблицу
final_view = rating[['name', 'group', 'avg_score', 'level', 'hours', 'passed']].copy()
print("\nИтоговая таблица (топ-5):")
print(final_view.head())

Итоговая таблица (топ-5):
                name group  avg_score level  hours  passed
2      Анна Сидорова     A       95.0  high     20    True
7     Ольга Новикова     B       92.5  high     22    True
4    Алексей Смирнов     B       88.0  high     18    True
0        Иван Иванов     A       87.5  high     15    True
11  Татьяна Лебедева     A       87.0  high     19    True

In [17]:
# БЛОК 16: Чек-лист проверок
print("\n" + "=" * 50)
print("ЧЕК-ЛИСТ ПРОВЕРОК")
print("=" * 50)

print(f"1. df.shape показывает {df.shape[0]} строк и {df.shape[1]} столбцов")
print(f"2. Пропусков в math: {df['math'].isna().sum()}, в python: {df['python'].isna().sum()}")
print(f"3. Уникальные значения level: {df['level'].unique()}")
print(f"4. Диапазон avg_score: {df['avg_score'].min():.1f} - {df['avg_score'].max():.1f}")
print(f"5. Проверка сортировки: первые 3 avg_score в rating: {rating['avg_score'].iloc[:3].values}")

==================================================
ЧЕК-ЛИСТ ПРОВЕРОК
==================================================
1. df.shape показывает 12 строк и 9 столбцов
2. Пропусков в math: 1, в python: 1
3. Уникальные значения level: ['high' 'mid' 'low']
4. Диапазон avg_score: 47.5 - 95.0
5. Проверка сортировки: первые 3 avg_score в rating: [95.  92.5 88. ]

In [18]:
# БЛОК 17: Бонус - функция для создания уровня
print("\n" + "=" * 50)
print("БОНУС: ФУНКЦИЯ ДЛЯ СОЗДАНИЯ УРОВНЯ")
print("=" * 50)

def make_level(avg_score):
    """Функция для определения уровня по среднему баллу"""
    if pd.isna(avg_score):
        return 'unknown'
    elif avg_score >= 85:
        return 'high'
    elif avg_score >= 70:
        return 'mid'
    else:
        return 'low'

# Проверяем работу функции на примере
test_scores = [95.0, 75.0, 65.0, None]
for score in test_scores:
    print(f"make_level({score}) = {make_level(score)}")

==================================================
БОНУС: ФУНКЦИЯ ДЛЯ СОЗДАНИЯ УРОВНЯ
==================================================
make_level(95.0) = high
make_level(75.0) = mid
make_level(65.0) = low
make_level(None) = unknown

In [19]:
# БЛОК 18: Дополнительная проверка - альтернативный способ создания level через функцию
# Применяем функцию ко всему столбцу avg_score
print("\n" + "=" * 50)
print("ПРОВЕРКА: СОЗДАНИЕ LEVEL ЧЕРЕЗ ПРИМЕНЕНИЕ ФУНКЦИИ")
print("=" * 50)

df['level_via_function'] = df['avg_score'].apply(make_level)
print("Первые 5 строк с level, созданным через функцию:")
print(df[['name', 'avg_score', 'level', 'level_via_function']].head())

print("\nСравнение двух методов создания level (должны совпадать):")
print(f"Совпадают ли level и level_via_function? {(df['level'] == df['level_via_function']).all()}")

==================================================
ПРОВЕРКА: СОЗДАНИЕ LEVEL ЧЕРЕЗ ПРИМЕНЕНИЕ ФУНКЦИИ
==================================================
Первые 5 строк с level, созданным через функцию:
              name  avg_score level level_via_function
0      Иван Иванов       87.5  high               high
1      Петр Петров       70.0   mid                mid
2    Анна Сидорова       95.0  high               high
3    Мария Козлова       62.5   low                low
4  Алексей Смирнов       88.0  high               high

Сравнение двух методов создания level (должны совпадать):
Совпадают ли level и level_via_function? True