In [3]:
import pandas as pd
import numpy as np

# Шаг 1.1. Создаем список словарей students 
students = [
    {"name": "Макс", "group": "A", "math": 95, "python": 88, "hours": 15, "passed": True, "city": "Москва"},
    {"name": "Данил", "group": "B", "math": 67, "python": 72, "hours": 10, "passed": True, "city": "Санкт-Петербург"},
    {"name": "Виктор", "group": "A", "math": 82, "python": 91, "hours": 20, "passed": True, "city": "Москва"},
    {"name": "Сын бетона", "group": "B", "math": 73, "python": None, "hours": 8, "passed": False, "city": "Карабаш"},
    {"name": "Илья", "group": "A", "math": 89, "python": 76, "hours": 12, "passed": True, "city": "Уфа"},
    {"name": "Владислав", "group": "C", "math": None, "python": 65, "hours": 6, "passed": False, "city": "Екатеринбург"},
    {"name": "Рома", "group": "B", "math": 78, "python": 84, "hours": 14, "passed": True, "city": "Москва"},
    {"name": "Иван", "group": "C", "math": 92, "python": 96, "hours": 18, "passed": True, "city": "Санкт-Петербург"},
    {"name": "Гигамакс", "group": "A", "math": 61, "python": 58, "hours": 9, "passed": False, "city": "Тверь"},
    {"name": "Никита", "group": "B", "math": 85, "python": 79, "hours": 11, "passed": True, "city": "Уфа"}
]

# Шаг 1.2. Создаем DataFrame
df = pd.DataFrame(students)
print("1.2. Исходный DataFrame:")
print(df)
print("\n" + "="*80)

# Шаг 1.3. Выводим информацию о DataFrame
print("1.3. Первые 5 строк (head):")
print(df.head())
print("\n1.3. Информация о столбцах и типах (info):")
print(df.info())
print("\n1.3. Базовая статистика (describe):")
print(df.describe())
print("\n" + "="*80)

1.2. Исходный DataFrame:
         name group  math  python  hours  passed             city
0        Макс     A  95.0    88.0     15    True           Москва
1       Данил     B  67.0    72.0     10    True  Санкт-Петербург
2      Виктор     A  82.0    91.0     20    True           Москва
3  Сын бетона     B  73.0     NaN      8   False          Карабаш
4        Илья     A  89.0    76.0     12    True              Уфа
5   Владислав     C   NaN    65.0      6   False     Екатеринбург
6        Рома     B  78.0    84.0     14    True           Москва
7        Иван     C  92.0    96.0     18    True  Санкт-Петербург
8    Гигамакс     A  61.0    58.0      9   False            Тверь
9      Никита     B  85.0    79.0     11    True              Уфа

================================================================================
1.3. Первые 5 строк (head):
         name group  math  python  hours  passed             city
0        Макс     A  95.0    88.0     15    True           Москва
1       Данил     B  67.0    72.0     10    True  Санкт-Петербург
2      Виктор     A  82.0    91.0     20    True           Москва
3  Сын бетона     B  73.0     NaN      8   False          Карабаш
4        Илья     A  89.0    76.0     12    True              Уфа

1.3. Информация о столбцах и типах (info):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    10 non-null     object
 1   group   10 non-null     object
 2   math    9 non-null      float64
 3   python  9 non-null      float64
 4   hours   10 non-null     int64
 5   passed  10 non-null     bool
 6   city    10 non-null     object
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 622.0+ bytes
None

1.3. Базовая статистика (describe):
            math     python     hours
count   9.000000   9.000000  10.00000
mean   80.222222  78.777778  12.30000
std    11.519307  12.417506   4.44847
min    61.000000  58.000000   6.00000
25%    73.000000  72.000000   9.25000
50%    82.000000  79.000000  11.50000
75%    89.000000  88.000000  14.75000
max    95.000000  96.000000  20.00000

================================================================================

In [5]:
# Шаг 2.1. Выводим столбцы name, group, python
print("2.1. Столбцы name, group, python:")
print(df[['name', 'group', 'python']])
print("\n" + "="*80)

# Шаг 2.2. Выводим строки по индексу
print("2.2. Строка с индексом 0:")
print(df.iloc[0])
print("\n2.2. Строки со 2 по 5 (включительно):")
print(df.iloc[2:6])  # 2:6 означает строки с индексом 2, 3, 4, 5
print("\n" + "="*80)

# Шаг 2.3. Делаем столбец name индексом
df2 = df.set_index('name')
print("2.3. DataFrame с name в качестве индекса (первые 5 строк):")
print(df2.head())
print("\n2.3. Доступ к студенту 'Иван' по имени через .loc:")
print(df2.loc['Иван'])
print("\n" + "="*80)

2.1. Столбцы name, group, python:
         name group  python
0        Макс     A    88.0
1       Данил     B    72.0
2      Виктор     A    91.0
3  Сын бетона     B     NaN
4        Илья     A    76.0
5   Владислав     C    65.0
6        Рома     B    84.0
7        Иван     C    96.0
8    Гигамакс     A    58.0
9      Никита     B    79.0

================================================================================
2.2. Строка с индексом 0:
name        Макс
group          A
math        95.0
python      88.0
hours         15
passed      True
city      Москва
Name: 0, dtype: object

2.2. Строки со 2 по 5 (включительно):
         name group  math  python  hours  passed          city
2      Виктор     A  82.0    91.0     20    True        Москва
3  Сын бетона     B  73.0     NaN      8   False       Карабаш
4        Илья     A  89.0    76.0     12    True           Уфа
5   Владислав     C   NaN    65.0      6   False  Екатеринбург

================================================================================
2.3. DataFrame с name в качестве индекса (первые 5 строк):
           group  math  python  hours  passed             city
name
Макс           A  95.0    88.0     15    True           Москва
Данил          B  67.0    72.0     10    True  Санкт-Петербург
Виктор         A  82.0    91.0     20    True           Москва
Сын бетона     B  73.0     NaN      8   False          Карабаш
Илья           A  89.0    76.0     12    True              Уфа

2.3. Доступ к студенту 'Иван' по имени через .loc:
group                   C
math                 92.0
python               96.0
hours                  18
passed               True
city      Санкт-Петербург
Name: Иван, dtype: object

================================================================================

In [ ]:
# Шаг 3.1. Студенты с python >= 80
top_python = df[df['python'] >= 80]
print("3.1. Студенты с python >= 80:")
print(top_python)
print("\n" + "="*80)

# Шаг 3.2. Студенты из группы "A" И с math >= 70
a_good_math = df[(df['group'] == 'A') & (df['math'] >= 70)]
print("3.2. Студенты из группы A с math >= 70:")
print(a_good_math)
print("\n" + "="*80)

# Шаг 3.3. Строки с пропусками в оценках
with_missing = df[df[['math', 'python']].isna().any(axis=1)]
print("3.3. Строки с пропусками в math или python:")
print(with_missing)
print("\n" + "="*80)

3.1. Студенты с python >= 80:
               name group  math  python  hours  passed                city
0   Макс иди на СВО     A  95.0    88.0     15    True          Night-City
2  Виктор-Корнеплод     A  82.0    91.0     20    True          Night-City
6   Генерал майонез     B  78.0    84.0     14    True          Night-City
7       Иван-коблук     C  92.0    96.0     18    True  52 Санкт-Петербург

================================================================================
3.2. Студенты из группы A с math >= 70:
               name group  math  python  hours  passed        city
0   Макс иди на СВО     A  95.0    88.0     15    True  Night-City
2  Виктор-Корнеплод     A  82.0    91.0     20    True  Night-City
4  Пожилой Чикотило     A  89.0    76.0     12    True  Мухосранск

================================================================================
3.3. Строки с пропусками в math или python:
          name group  math  python  hours  passed          city
3   Сын бетона     B  73.0     NaN      8   False       Карабаш
5  Владислейвс     C   NaN    65.0      6   False  Екатеринбург

================================================================================

In [ ]:
# Шаг 4.1. Создаем столбец avg_score = среднее между math и python
# Используем mean с axis=1 для расчета по строкам, skipna=True для игнорирования NaN
df['avg_score'] = df[['math', 'python']].mean(axis=1, skipna=True)
print("4.1. DataFrame с новым столбцом avg_score (первые 5 строк):")
print(df.head())
print("\nПроверка пропусков в avg_score:", df['avg_score'].isna().sum())
print("\n" + "="*80)

# Шаг 4.2. Создаем столбец level на основе avg_score
def make_level(avg_score):
    """Функция для определения уровня на основе среднего балла"""
    if pd.isna(avg_score):
        return np.nan
    elif avg_score >= 85:
        return "high"
    elif avg_score >= 70:
        return "mid"
    else:
        return "low"

# Применяем функцию к столбцу avg_score
df['level'] = df['avg_score'].apply(make_level)
print("4.2. DataFrame с новым столбцом level:")
print(df[['name', 'group', 'avg_score', 'level']].head(10))
print("\nРаспределение по уровням:")
print(df['level'].value_counts(dropna=False))
print("\n" + "="*80)

4.1. DataFrame с новым столбцом avg_score (первые 5 строк):
                name group  math  python  hours  passed                 city  \
0    Макс иди на СВО     A  95.0    88.0     15    True           Night-City
1  Строго-на-чайнеке     B  67.0    72.0     10    True   52 Санкт-Петербург
2   Виктор-Корнеплод     A  82.0    91.0     20    True           Night-City
3         Сын бетона     B  73.0     NaN      8   False              Карабаш
4   Пожилой Чикотило     A  89.0    76.0     12    True           Мухосранск

   avg_score
0       91.5
1       69.5
2       86.5
3       73.0
4       82.5

Проверка пропусков в avg_score: 0

================================================================================
4.2. DataFrame с новым столбцом level:
                name group  avg_score level
0    Макс иди на СВО     A       91.5  high
1  Строго-на-чайнеке     B       69.5   low
2   Виктор-Корнеплод     A       86.5  high
3         Сын бетона     B       73.0   mid
4   Пожилой Чикотило     A       82.5   mid
5        Владислейвс     C       65.0   low
6    Генерал майонез     B       81.0   mid
7        Иван-коблук     C       94.0  high
8          ГигаТолик     A       59.5   low
9             Масяня     B       82.0   mid

Распределение по уровням:
level
mid     4
high    3
low     3
Name: count, dtype: int64

================================================================================

In [ ]:
# Шаг 5.1. Группировка по group и агрегация
group_stats = df.groupby('group').agg(
    avg_score_mean=('avg_score', 'mean'),
    hours_mean=('hours', 'mean'),
    student_count=('name', 'count')
).round(2)
print("5.1. Статистика по группам:")
print(group_stats)
print("\n" + "="*80)

# Шаг 5.2. Процент студентов passed == True в каждой группе
passed_percent = df.groupby('group')['passed'].mean() * 100
print("5.2. Процент студентов, сдавших экзамен, по группам (%):")
print(passed_percent.round(2))
print("\n" + "="*80)

5.1. Статистика по группам:
       avg_score_mean  hours_mean  student_count
group
A               80.00       14.00              4
B               76.38       10.75              4
C               79.50       12.00              2

================================================================================
5.2. Процент студентов, сдавших экзамен, по группам (%):
group
A    75.0
B    75.0
C    50.0
Name: passed, dtype: float64

================================================================================

In [ ]:
# Шаг 6.1. Сортировка по avg_score по убыванию
rating = df.sort_values('avg_score', ascending=False)
print("6.1. Рейтинг студентов по убыванию avg_score (первые 5 строк):")
print(rating[['name', 'group', 'avg_score', 'level']].head())
print("\n" + "="*80)

# Шаг 6.2. Формируем итоговую таблицу
final_view = rating[['name', 'group', 'avg_score', 'level', 'hours', 'passed']]
print("6.2. Итоговая таблица (топ-5):")
print(final_view.head())
print("\n" + "="*80)

6.1. Рейтинг студентов по убыванию avg_score (первые 5 строк):
               name group  avg_score level
7       Иван-коблук     C       94.0  high
0   Макс иди на СВО     A       91.5  high
2  Виктор-Корнеплод     A       86.5  high
4  Пожилой Чикотило     A       82.5   mid
9            Масяня     B       82.0   mid

================================================================================
6.2. Итоговая таблица (топ-5):
               name group  avg_score level  hours  passed
7       Иван-коблук     C       94.0  high     18    True
0   Макс иди на СВО     A       91.5  high     15    True
2  Виктор-Корнеплод     A       86.5  high     20    True
4  Пожилой Чикотило     A       82.5   mid     12    True
9            Масяня     B       82.0   mid     11    True

================================================================================

In [ ]:
print("\n" + "="*80)
print("ДОПОЛНИТЕЛЬНЫЕ ПРОВЕРКИ:")
print("="*80)

print(f"1. Размер DataFrame: {df.shape} (минимум 10 строк)")
print(f"2. Пропуски в данных: math={df['math'].isna().sum()}, python={df['python'].isna().sum()}")
print(f"3. Типы данных:\n{df.dtypes}")
print(f"4. Проверка фильтра top_python: {len(top_python)} студентов с python >= 80")
print(f"5. Проверка фильтра a_good_math: {len(a_good_math)} студентов из группы A с math >= 70")
print(f"6. Проверка фильтра with_missing: {len(with_missing)} студентов с пропусками")
print(f"7. Проверка avg_score: минимальное={df['avg_score'].min():.1f}, максимальное={df['avg_score'].max():.1f}")
print(f"8. Распределение level: {dict(df['level'].value_counts())}")
print(f"9. Группировка: статистика для {len(group_stats)} групп")
print(f"10. Рейтинг: правильно отсортирован? {rating['avg_score'].iloc[0] == rating['avg_score'].max()}")

================================================================================
ДОПОЛНИТЕЛЬНЫЕ ПРОВЕРКИ:
================================================================================
1. Размер DataFrame: (10, 9) (минимум 10 строк)
2. Пропуски в данных: math=1, python=1
3. Типы данных:
name          object
group         object
math         float64
python       float64
hours          int64
passed          bool
city          object
avg_score    float64
level         object
dtype: object
4. Проверка фильтра top_python: 4 студентов с python >= 80
5. Проверка фильтра a_good_math: 3 студентов из группы A с math >= 70
6. Проверка фильтра with_missing: 2 студентов с пропусками
7. Проверка avg_score: минимальное=59.5, максимальное=94.0
8. Распределение level: {'mid': np.int64(4), 'high': np.int64(3), 'low': np.int64(3)}
9. Группировка: статистика для 3 групп
10. Рейтинг: правильно отсортирован? True